@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?6851ec');
  src:  url('icomoon.eot?6851ec#iefix') format('embedded-opentype'),
    url('icomoon.ttf?6851ec') format('truetype'),
    url('icomoon.woff?6851ec') format('woff'),
    url('icomoon.svg?6851ec#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-instagram:before {
  content: "\f16d";
}
